@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-surface: var(--color-slate-200);
    --color-primary: var(--color-gray-700);
    --color-secondary: var(--color-gray-500);
    --color-accent: var(--color-blue-100);
    --color-highlight: var(--color-blue-300);

    --color-progress-bg: var(--color-gray-300);
    --color-hint-fg: var(--color-blue-600);
    --color-hint-bg: var(--color-blue-200);
    --color-success-fg: var(--color-green-600);
    --color-success-bg: var(--color-green-200);
    --color-error-fg: var(--color-red-500);
    --color-error-bg: var(--color-red-200);
}

.dark {
    --color-surface: var(--color-slate-900);
    --color-primary: var(--color-slate-200);
    --color-secondary: var(--color-gray-500);
    --color-accent: rgb(14, 25, 60);
    --color-highlight: var(--color-blue-700);

    --color-progress-bg: var(--color-gray-700);
    --color-hint-fg: var(--color-blue-300);
    --color-hint-bg: var(--color-blue-700);
    --color-success-fg: var(--color-green-100);
    --color-success-bg: var(--color-green-700);
    --color-error-fg: var(--color-red-200);
    --color-error-bg: var(--color-red-600);
}
